# Ignore everything
*
*/**

# Don't ignore these specific files
!/components/
/components/*
!/components/FileUpload.js
!/components/ImageRenderer.js

!/pages/
/pages/*
!/pages/index.js

!/utils/
/utils/*
!/utils/parseHyperspectral.js

# Also don't ignore the .gitignore itself
!.gitignore